@font-face{
    font-family: varela;
    src: url("fonts/Varela.woff2") format(woff2);
}

@font-face{
    font-family: guerrilla;
    src: url("fonts/guerrilla.woff2") format(woff2);
}
@font-face{
    font-family: royal;
    src: url("fonts/Grand Royal.woff2") format(woff2);
}
@font-face{
    font-family: krinkes;
    src: url("fonts/krinkesDecor.woff2") format(woff2);
}

@font-face {
    font-family:manrope;
    src: url("fonts/manrope/Manrope-ExtraLight.woff2") format(woff2);
    font-weight:200;
}@font-face {
    font-family:manrope;
    src: url("fonts/manrope/Manrope-Light.woff2") format(woff2);
    font-weight:300;
}@font-face {
    font-family:manrope;
    src: url("fonts/manrope/Manrope-Regular.woff2") format(woff2);
    font-weight:400;
}@font-face {
    font-family:manrope;
    src: url("fonts/manrope/Manrope-Medium.woff2") format(woff2);
    font-weight:500;
}@font-face {
    font-family:manrope;
    src: url("fonts/manrope/Manrope-SemiBold.woff2") format(woff2);
    font-weight:600;
}@font-face {
    font-family:manrope;
    src: url("fonts/manrope/Manrope-Bold.woff2") format(woff2);
    font-weight:700;
}@font-face {
    font-family:manrope;
    src: url("fonts/manrope/Manrope-ExtraBold.woff2") format(woff2);
    font-weight:800;
}